@font-face {
    font-family: 'Orbitron';
    src: url('path/to/orbitron-font.woff2') format('woff2'),
         url('path/to/orbitron-font.woff') format('woff');
}

@font-face {
    font-family: 'Zen Dots';
    src: url('path/to/zendots-font.woff2') format('woff2'),
         url('path/to/zendots-font.woff') format('woff');
}

    


*{
    font-family: Orbitron ;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}
html{
    font-size: 60%;
    overflow-y: auto;
    overflow-x: hidden;
    height: max-content;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #151313;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between ;
}
header .logo{
font-family: Zen Dots ;
font-size: 2rem;
color: #FFFFFF;
font-weight: 400;

}
header .navbar a{
    font-size: 1.5 rem;
    color: #FFFFFF;
    margin: 0 1rem;
}
header .navbar a:hover{
    color: gray;
}
#menu-bar{
    font-size: 2rem;
    padding: .5rem 1rem;
    color: #FFFFFF;
    cursor: pointer;
    display: none;
}
section{
    padding: 2rem 9%;
}
.OurCollection h1{
    display: flex;
    position: absolute;
    align-items: center;
    font-size: 25px;
    font-weight: 500;
height: auto;
margin-top: 100px;
margin-bottom: 100px;
}
.BlueSashi img{
    display: flex;
    width: 350px;
    height: 250px;
    margin-top: 100px;
}
.BlueSashiText h1{
    display: flex;
    flex-direction: column;
    width: 20%;
    font-weight: 400;
    margin-left: 25px;
    font-size: 18px;
    margin-top: -10px;
}
.jordanSpi img{
    display: flex;
    width: 350px;
    height: 250px;
    margin-left: 450px;
    margin-top: -250px;
}
.JordanSpiText h1{
    display: flex;
    flex-direction: column;
    width: 20%;
    font-weight: 400;
    margin-left: 485px;
    font-size: 18px;
    margin-top: -45px;
}
.ambush img{
    display: flex;
    width: 355px;
    height: 230px;
    margin-left: 895px;
    margin-top: -214px;
    
}
.ambushText h1{
    display: flex;
    flex-direction: column;
    width: 20%;
    font-weight: 400;
    margin-left: 925px;
    font-size: 18px;
    margin-top: -70px;
}
.BlueSashiPrice h1{
    display: flex;
    flex-direction: column;
    width: 20%;
    font-weight: 400;
    margin-left: 25px;
    font-size: 18px;
    margin-top: 25px;
}
.JordanSpiPrice h1{
    display: flex;
    flex-direction: column;
    width: 20%;
    font-weight: 400;
    margin-left: 485px;
    font-size: 18px;
    margin-top: -10px;
}
.ambushPrice h1{
    display: flex;
    flex-direction: column;
    width: 20%;
    font-weight: 400;
    margin-left: 925px;
    font-size: 18px;
    margin-top: -35px;
}
.ForumBlack img{
    display: flex;
    width: 350px;
    height: 250px;
    margin-top: 100px;
}
.ForumBlackText h1{
    display: flex;
    flex-direction: column;
    width: 20%;
    font-weight: 400;
    margin-left: 25px;
    font-size: 18px;
    margin-top: 10px;
}
.ForumBlue img{
    display: flex;
    width: 350px;
    height: 250px;
    margin-left: 450px;
    margin-top: -250px;
}
.ForumBlueText h1{
    display: flex;
    flex-direction: column;
    width: 20%;
    font-weight: 400;
    margin-left: 485px;
    font-size: 18px;
    margin-top: -45px;
}
.superstar img{
    display: flex;
    width: 355px;
    height: 230px;
    margin-left: 895px;
    margin-top: -232px;
    
}
.superstarText h1{
    display: flex;
    flex-direction: column;
    width: 20%;
    font-weight: 400;
    margin-left: 925px;
    font-size: 18px;
    margin-top: -45px;
}
.ForumBlackPrice h1{
    display: flex;
    flex-direction: column;
    width: 20%;
    font-weight: 400;
    margin-left: 25px;
    font-size: 18px;
    margin-top: 15px;
}
.ForumBluePrice h1{
    display: flex;
    flex-direction: column;
    width: 20%;
    font-weight: 400;
    margin-left: 485px;
    font-size: 18px;
    margin-top: -23px;
}
.superstarPrice h1{
    display: flex;
    flex-direction: column;
    width: 20%;
    font-weight: 400;
    margin-left: 925px;
    font-size: 18px;
    margin-top: -23px;
}
.NB550 img{
    display: flex;
    width: 350px;
    height: 250px;
    margin-top: 100px;
}
.NB550Text h1{
    display: flex;
    flex-direction: column;
    width: 20%;
    font-weight: 400;
    margin-left: 25px;
    font-size: 18px;
    margin-top: 10px;
}
.NB530 img{
    display: flex;
    width: 350px;
    height: 250px;
    margin-left: 450px;
    margin-top: -250px;
}
.NB530Text h1{
    display: flex;
    flex-direction: column;
    width: 20%;
    font-weight: 400;
    margin-left: 485px;
    font-size: 18px;
    margin-top: -45px;
}
.NB2002R img{
    display: flex;
    width: 355px;
    height: 230px;
    margin-left: 895px;
    margin-top: -232px;
    
}
.NB2002RText h1{
    display: flex;
    flex-direction: column;
    width: 20%;
    font-weight: 400;
    margin-left: 925px;
    font-size: 18px;
    margin-top: -25px;
}
.NB550Price h1{
    display: flex;
    flex-direction: column;
    width: 20%;
    font-weight: 400;
    margin-left: 25px;
    font-size: 18px;
    margin-top: 15px;
}
.NB530Price h1{
    display: flex;
    flex-direction: column;
    width: 20%;
    font-weight: 400;
    margin-left: 485px;
    font-size: 18px;
    margin-top: -23px;
}
.NB2002RPrice h1{
    display: flex;
    flex-direction: column;
    width: 20%;
    font-weight: 400;
    margin-left: 925px;
    font-size: 18px;
    margin-top: -23px;
}
.ComingSoon h1{
    position: static;
    margin-top: 80px;
    margin-bottom: 80px;
    align-items: center;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
   height: auto;
}
footer {
    position: absolute;
    background: #d9d9d9;
    height: auto;
    width: 100vw;
    font-family: "Orbitron";
    padding-top: 40px;
    color: #000000;
  }
  
  .footer-content {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  
  .footer-content h1 {
    font-size: 2.5rem;
    font-family: "Zen Dots";
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
    margin-left: 17rem;
    margin-top: 4rem;
  }
  
  .socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    margin-left: 130rem;
    margin-top: -3.5rem;
  }
  
  .socials li {
    margin: 0 10px;
  }
  
  .socials a {
    text-decoration: none;
    color: #000;
  }
  
  .socials a i {
    font-size: 1.5rem;
  }
  
  .footer-bottom {
    background: #d9d9d9;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
  }
  
  .footer-bottom span {
    text-transform: uppercase;
    opacity: 0.4;
    font-weight: 200;
  }
  
@media (max-width:768px){
    #menu-bar{
        display: block;
    }
    header .navbar{
        position: absolute;
        top: 100%;
        left: -120%;
        width: 100%;
        background: #151313;
        border-top: .1rem solid rgba(0, 0,0,1);
    }
    header .navbar a{
        font-size: 1.5rem;
        background: #797474;
        border:.1rem solid #000;
        border-radius: .5rem;
        padding: 1rem;
        margin: 1rem;
        display: block;
        text-align: center;
    }
    header .navbar.active{
        left: 0;
    }
    .footer-content h1 {
        font-size: 1.5rem;
      }
    .socials {
        margin-left: 0;
        margin-top: 0;
      }
    }